
{{ define "main" }}

  {{ partial "header" . }}

  <main class="w-100 flex flex-wrap container">

    <div class="w-100 pa3 flex justify-between">
      <a href="/"><i class="fas fa-arrow-left black"></i></a>
      <a href="{{.Params.next_page}}"><i class="fas fa-arrow-right black"></i></a>
    </div>

    <div class="w-100 pa3">
      <img src="{{.Params.cover_image}}"/>
    </div>

    <div class="w-100 w-50-l ph3 lh-copy">
      <h2>{{.Params.title_en}}</h2>
      {{ .Params.text_fr | markdownify }}
    </div>

    <div class="w-100 w-50-l ph3 pb4 lh-copy">
      <h2>{{.Params.title_fr}}</h2>
      {{ .Params.texte_en | markdownify }}
    </div>

    {{ range .Params.images }}
    <div class="w-100 w-50-l pa3">
      <img src="{{ . }}"/>
    </div>
    {{ end }}


  </main>

{{ end }}
