$primary-font: 'Libre Franklin', sans-serif;
$alt-font: 'Nanum Gothic', sans-serif;

.hover:hover {
  text-decoration: underline;
}

.alt {
  font-family:$alt-font;
}

body {
  font-family: $primary-font;
}

.min-height-100 {
  min-height: 100vh;
}

.min-height-75 {
  min-height: 75vh;
}

.min-height-50 {
  min-height: 50vh;
}

.container {
  max-width:1600px;
  margin-left:auto;
  margin-right:auto;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;
}

.shadow {
  background-color: rgba(0,0,0,0.8);
}

header {
  top:0; // this keeps the navbar at the top, even if we have a margin on main
  z-index:9999;
}

nav {
  a {
    margin:8px 20px;
    padding-bottom:3px;
    text-decoration:none;
    border-bottom:0px solid white;
    transition: border-width 0.1s linear;
    color:#000;
    &:hover {
      border-bottom:2px solid black;
    }
  }
  a.active {
    border-bottom:2px solid black;
  }
}

main {
  font-family: $primary-font;
  margin-top:140px;
}

a {
  text-decoration:none;
}

.box {
  img {
    max-height:500px;
  }
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

// typography

 b,strong {
   font-weight:600;
 }

  p,li {
    line-height:1.5;
  }

 h1,h2 {
   font-family:$primary-font;
 }

 h3,h4,h5,h6 {
   font-family:$primary-font;
 }

 p,li,label,input,select,span,button,a {
   font-family: $primary-font;
 }


 // input and forms

 button,input {
   border:none;
 }
