<header class="w-100 flex fixed bg-white black pa3 pa4-l">
  <nav class="w-100 flex flex-wrap items-center justify-between container">
    <div class="w-100 w-33-l">
      <h1><a href="/" alt="{{.Title}}">Anne Bertrand</a></h1>
    </div>
    <div class="w-100 w-60-l tr dn db-l">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" alt="{{ .Name }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
      {{ end }}
    </div>
    <!-- mobile nav -->
    <div class="w-100 flex flex-wrap tc db dn-l">
      {{ range .Site.Menus.main }}
      <div class="w-100 pb3 pt1">
        <a href="{{ .URL }}" alt="{{ .Name }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
    <!-- end mobile nav -->
  </nav>
</header>
