
{{ define "main" }}

  {{ partial "header.html" }}

  <main class="w-100 flex flex-wrap container">
    {{ range where .Site.RegularPages "Section" "projects" }}
      <div class="w-100 w-50-l cover">
        <div class="overlay"></div>
        <a href="{{.Permalink}}">
        <div class="text w-100 flex flex-wrap items-center">
          <h2 class="w-100 tc f3 f1-l white dn">{{.Title}}</h2>
        </div>
        <img class="w-100" src="{{ .Params.cover_image }}"/>
        </a>
      </div>
    {{ end }}
  </main>

{{ end }}
